/********************** RESET CSS **********************/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    background-color: #1c2c34;
}

p {
    max-width: 65ch;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input, textarea, select, button {
    font: inherit;
}

img, video, svg, picture, canvas {
    display: block;
    max-width: 100%;
}
/********************** RESET CSS **********************/


/********************** GAME **********************/

.game {
    margin-inline: auto;
    min-height: 100dvh;
    width: min(100% - 4em, 300px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game > * {
    margin-top: 2em;
    text-align: center;
}
/********************** GAME **********************/

/********************** BOARD **********************/
.board {
    display: grid;
    aspect-ratio: 1/1;
    gap: 1.5em;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.board button {
    font-size: 1.5rem;
    color: #f2b237;
    border-radius: .5em;
    background-color: #1f3540;
    box-shadow: 0px 10px 1px #102129;
}

.board button:hover {
    background-color: hsla(195, 53%, 79%, 0.5);
}

.board .x-button {
    color: #31c4be;
}
/********************** BOARD **********************/



/********************** COMMENTS & OPERATIONS **********************/
.comments {
    color: white;
}

.operations {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.operations button {
    color: white;
    padding: .5em 1em;
    border-radius: 1em;
    background-color: crimson;
}
/********************** COMMENTS & OPERATIONS **********************/



/********************** PLAYERS **********************/
.players {
    display: flex;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
}

.first-player, .second-player {
    padding: 1em;
    color: #0e2934;
    border-radius: .5em;
    
    display: flex;
    column-gap: .5em;
    flex-direction: column;
}

.first-player {
    background-color: #31cac5;
}

.second-player {
    background-color: #f2b237;
}

.players:has(.first-player:empty, .second-player:empty), .comments:has(p:empty) {
    display: none;
    margin-top: 0;
}
/********************** PLAYERS **********************/


